<h1 mat-dialog-title class="text-center">{{data.name}}</h1>


<div mat-dialog-content class="text-center no-resize ">

    <!-- <mat-form-field class="med-width" >
        <input matInput [(formControl)]="title" placeholder="Title">
      </mat-form-field> -->
<!-- 
    <mat-form-field class="full-width">
          <mat-label>Content</mat-label>
          <textarea class="disable-scrollbars" [(formControl)]="content" matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"></textarea>
        </mat-form-field>   -->
        <ng-template #elseBlock><h6>This company does not have internal privacy access schemes. Send PIPEDA request?</h6></ng-template>
        <img [src]="data.imageURL" class="text-center center w-25 mx-auto">
        <div *ngIf="privacyLink !=''; else elseBlock">
        <button mat-raised-button color="accent" class="mt-1 mb-2" ><a target="_blank" [href]="privacyLink">Manage privacy settings and data on their website</a> </button>
        
      </div>

      <div mat-dialog-actions>
<button mat-button (click)="onCancel()">Cancel</button>
<button class="align-self-end"mat-button  cdkFocusInitial href="../../assets/pipedamail.pdf" >Download Template</button>
  <button class="align-self-end"mat-button  cdkFocusInitial (click)="onSubmit()">Send {{accessOrDelete}} request</button>
</div>

<style>
.full-width {
  width: 100%;
}
.med-width {
  width:60%;
}
.no-resize {
  resize:none;
  height:13.5em;
  overflow-y:visible;
}
</style>
