<div class="container-fluid">
    <div class="row roboto">
        <div class="offset-md-1 col-12 col-md-4">
            <h3 class=" pl-3 display-2 pt-5 mt-md-5 font-weight-bold pb-3 animated pulse" >Sendable</h3>
            <h4 class="pb-4">Your data, your hands.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="offset-md-2 col-md-4  pipedapaper">
            <img class="pt-5" src="../../assets/unlock.svg">

        </div>

    </div>


</div>
<style>
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    .pipedapaper {
        display:none;
    }
}
/* .container-fluid {background-image: url('assets/unlock.svg');
    background-repeat: no-repeat;
    background-size:cover;
} */
</style>
