<mat-card class="company-card shadow"[ngStyle]="cardStyle">

    
    <mat-card-content class="text-center img-fluid rounded mx-auto">
            <img mat-card-image [src]="imageURL" alt="icon" class="icon-size text-center" >
    </mat-card-content>
    <mat-card-header class="">
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <!-- <mat-card-title class="" style="text-align:center !important;">Twitter</mat-card-title> -->
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
    <mat-card-actions class="text-center mx-auto">

      <button mat-raised-button color="warn">DELETE</button>
      <button mat-raised-button color="primary">REQUEST</button>
    </mat-card-actions>
  </mat-card>

<style>
    .company-card {
        width:100%;
        padding-left:5em;
        margin-left:2%;
        margin-right:2%;
        padding-right:5em;
        height:100%;
        background:lightgray;
        border-radius:7.5%;
    }
    .icon-size {
        width:8em;
        padding-top:2em;
    }
    .mat-card-header-text {
        text-align:center !important;
        margin:auto !important;
    }
    .mat-card-title {
        margin:auto !important;
        text-align:center !important;
    }
    /* body > app-root > app-home > div > div > div > cdk-virtual-scroll-viewport > div.cdk-virtual-scroll-content-wrapper > div > app-company-card:nth-child(1) > mat-card > mat-card-header > div {
        display:none !important;
    } */
</style>