<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light" style="background:#1E1F26 !important;">
  <img src="assets/pipedapapercolor.png" class="navbar-brand mr-3" style="width:30px; height: 40px;">
  <a class="navbar-brand mr-auto" href="#">Sendable</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Sign up <span class="sr-only">(current)</span></a> -->
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link active animated pulse infinite" (click)="login()">Login</a>
      </li> -->
    </ul>

  </div>
</nav>

  <div class="text-center">
    <input type="text" placeholder="Search">
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
        <img class="pt-20" src="../../assets/24px.svg">

      </button>
  </div>

<div class="container-fluid">
    <div class="row roboto">
        <div class=" col-12">
            <!-- <mat-sidenav-container class="example-container">
                <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
                <mat-sidenav-content>Main content</mat-sidenav-content>
              </mat-sidenav-container> -->
              
                <cdk-virtual-scroll-viewport class="disable-scrollbars example-viewport mt-4"  itemSize="1" >
                    <div  fxLayout="row wrap" fxLayoutWrap fxLayoutAlign="center center">
                    <ng-container  *cdkVirtualFor="let card of cards">
                      <app-company-card class="mb-1 mr-1" [name]="card.companyName" [imageURL]="card.imageURL"></app-company-card>
                    </ng-container>
                  </div>
                  </cdk-virtual-scroll-viewport>

        </div>

    </div>


</div>
