<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light" style="background:#1E1F26 !important;">
  <img src="assets/pipedapapercolor.png" class="navbar-brand mr-3" style="width:30px; height: 40px;">

  <a class="navbar-brand mr-auto float-left" href="#">Sendable </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Sign up <span class="sr-only">(current)</span></a> -->
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link active animated pulse infinite" (click)="login()">Login</a>
      </li> -->
    </ul>

  </div>
  <div class="col-10">Hello</div>
</nav>


<div class="container-fluid">
  <div class="row roboto">
    <div class=" col-12 no-gutters" style="padding-left:0; padding-right:0; background: #ffffff;">
      <!-- <mat-sidenav-container class="example-container">
                <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
                <mat-sidenav-content>Main content</mat-sidenav-content>
              </mat-sidenav-container> -->
      <mat-drawer-container>
        <mat-drawer class="sidebar" mode="side" opened>
          <app-sidebar></app-sidebar>
        </mat-drawer>
        <mat-drawer-content>

          <div class="text-center pt-4">
            <h1 class="text-body float-left pl-2">Companies</h1>
            <!-- <form class="example-form" class="text-center">
                        <mat-form-field class="example-full-width">
                          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                          
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>

                        </mat-form-field>
                      </form> -->
            <input class="ml-auto float-right mr-3" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Search"
              [(ngModel)]="searched">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let card of  cards" [value]="card.companyName">{{card.companyName}}</mat-option>
            </mat-autocomplete>
            <button class="float-right mr-1 "mat-icon-button aria-label="Example icon-button with a heart icon" (click)="onSearch()"
              style="white-space: nowrap !important; margin-bottom:-4em !important">
              <img class="" src="../../assets/magnifying-glass.svg" width="20px"
                style="white-space: nowrap !important;">
            </button>
           
          </div>
          <cdk-virtual-scroll-viewport class="disable-scrollbars example-viewport mt-4" itemSize="1">
            <div fxLayout="row wrap" fxLayoutWrap fxLayoutAlign="center center">
              <ng-container *cdkVirtualFor="let card of cards | filter:searched"
                ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <app-company-card class="mb-1 ml-2 mr-2" [name]="card.companyName" [imageURL]="card.imageURL"
                  [cardStyle]="card.style" [privacyLink]="card.privacyLink"></app-company-card>
              </ng-container>
            </div>
          </cdk-virtual-scroll-viewport>
        </mat-drawer-content>
      </mat-drawer-container>



    </div>

  </div>


</div>

<style>
  .mat-drawer-container {
    background: #ffffff !important;
  }

  .sidebar {
    width: 15em;
    background: #1E1F26;
  }

  @media only screen and (max-width: 600px) {
    .sidebar {
      display: none;
    }
  }

</style>
